.wrapper {
  display: flex;
  margin: 10px;

}
.container2 {
  margin: 0px 0px 0px 110px;
}
.userFoto {
  width: 80px;
  height: 80px;

}
.container1 {
  display: flex;
}
.userItem {
  margin-left: 20px;
}