:root {
    --main-radius: 2px;
    --main-padding: 2px;
}

body {

}

.app_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.5fr 1.2fr 0.3fr;
    grid-template-areas:
  'navbar navbar navbar navbar'
  'sidebar main main main'
  'sidebar main main main'
  'footer footer footer footer';
    grid-gap: 0.3rem;
    width: 1100px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #000000;


}


/*==============Адаптив Mobile=====================*/


.app-wrapper-content {

    grid-area: main;
    border-radius: var(--main-radius);
}












