:root {
    --main-radius:5px;
    --main-padding:5px;
}
body {

}
.app_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.3fr;
    grid-template-areas:
  'navbar navbar navbar navbar'
  'sidebar main main content3'
  'sidebar content1 content2 content3'
  'footer footer footer footer';
    grid-gap: 0.3rem;
    width: 1100px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;

}



.content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
/*==============Адаптив Mobile=====================*/
@media only screen and (max-width: 550px) {
    .app_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        'navbar'
        'sidebar'
        'main'
        'content1'
        'content2'
        'content3'
        'footer';
    }
}














